<div class="row">
    <div class="col-xs col-p-v root-staticPage-custom">
        <h1 class="staticpage-title page-title">Корзина</h1>
        <div class="breads cs-br-1" itemscope itemtype="">
            <div class="breads-item icon-right-open-after cs-t-3">
                <a href="/" class="breads-item-link cs-l-3">
                    <span>Главная</span>
                </a>
                —
            </div>
            <div class="breads-item"><span class="breads-item-current cs-t-1">Корзина</span></div>
        </div>
        <div class="staticpage-content">
            <form id="send">
                <table class="">
                    <tr role="row">
                        <th class="sorting_asc">Фото</th>
                        <th class="sorting_asc">Название</th>
                        <th class="sorting_asc">Описание</th>
                        <th class="sorting_asc">Цена</th>
                        <th class="sorting_asc">Кол-во на складе</th>
                        <th class="sorting_asc">Кол-во в корзине</th>
                        <th class="sorting_asc">Удалить</th>
                    </tr>
                    <tr role="row" class="odd">
                        <td class="dtr-control sorting_1"></td>
                    </tr>
                    <repeat group="{{ @basket }}" value="{{ @item }}">
                        <repeat group="{{ @item }}" value="{{ @i }}">
                            <tr>
                                <th>{{ @i.imagepath }}</th>
                                <th>{{ @i.name }}</th>
                                <th>{{ @i.description }}</th>
                                <th>{{ @i.price }}</th>
                                <th>{{ @i.stockBalance }}</th>
                                    <th>
                                        <input type="number" name="quantity" id="quantity" value="{{ @i.quantity }}" >
                                        <!-- <input hidden type="number" name="id" id="idCatalog" value="{{ @i.id }}" oninput = "changeNum()"> -->
                                    </th>
                                <th>
                                    <form action="/basket/del/{{ @i.id }}" method="post">
                                        <input type="submit" value="Удалить">
                                    </form>
                                </th>
                            </tr>
                        </repeat>
                    </repeat>
                </table>
                <br>
                <div>
                    <input type="submit" value="Оформть заказ">
                </div>
            </form>
            </br>
            <div>
                <strong id="sum">Итого: </strong>
            </div>
        </div>
    </div>
</div>