<div class="row">
    <div class="col-xs col-p-v root-staticPage-custom">
        <h1 class="staticpage-title page-title">КОРЗИНА ПУСТА!</h1>
        <div class="breads cs-br-1" itemscope itemtype="">
            <div class="breads-item icon-right-open-after cs-t-3">
                <a href="/" class="breads-item-link cs-l-3">
                    <span>Главная</span>
                </a>
                —
            </div>
            <div class="breads-item"><span class="breads-item-current cs-t-1">Корзина</span></div>
        </div>
        <div class="staticpage-content">
        </div>
    </div>
</div>