<div class="card-body">
  <repeat group="{{ @product }}" value="{{ @prod }}"></repeat>
  <div class="breads cs-br-1" itemscope itemtype="">
    <div class="breads-item icon-right-open-after cs-t-3">
      <a href="/" class="breads-item-link cs-l-3">
        <span>Главная</span>
      </a>
      —
    </div>
    <div class="breads-item icon-right-open-after cs-t-3">
      <a href="/catalog" class="breads-item-link cs-l-3">
        <span>Каталог</span>
      </a>
      —
    </div>
    <div class="breads-item icon-right-open-after cs-t-3">
      <check if="{{ @prod.category == 1 }}">
        <true>
          <a href="/catalog/milk" class="breads-item-link cs-l-3">
            <span>
              Молочные продукты
            </span>
        </true>
        <false>
          <a href="/catalog/meet" class="breads-item-link cs-l-3">
            <span>
              Мясные продукты
            </span>
        </false>
      </check>
      </a>
      —
    </div>
    <div class="breads-item">
      <span class="breads-item-current cs-t-1">{{ @prod.nameitem }}</span>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6">
      <h3 class="d-inline-block d-sm-none">{{ @prod.nameitem }}</h3>
      <div class="col-12">
        <img src="/app/view/images/products/{{@prod.imagepath }}" class="product-image" alt="Product Image">
      </div>
      <div class="col-12 product-image-thumbs">
        <div class="product-image-thumb active"><img src="../../dist/img/prod-3.jpg" alt="Product Image"></div>
        <div class="product-image-thumb"><img src="../../dist/img/prod-3.jpg" alt="Product Image">
        </div>
        <div class="product-image-thumb"><img src="../../dist/img/prod-3.jpg" alt="Product Image"></div>
        <div class="product-image-thumb"><img src="../../dist/img/prod-4.jpg" alt="Product Image"></div>
        <div class="product-image-thumb"><img src="../../dist/img/prod-5.jpg" alt="Product Image"></div>
      </div>
    </div>
    <div class="col-12 col-sm-6">
      <h3 class="my-3">{{ @prod.nameitem }}</h3>
      <p>{{ @prod.descriptionitem }}</p>

      <hr>

      <div class="bg-gray py-2 px-3 mt-4">
        <h2 class="mb-0">
          {{ @prod.priceitem }} <small>руб.</small>
        </h2>
      </div>

      <form action="/basket/add/{{ @prod.idcatalog }}" method="post">
        <div class="btn-group btn-group-toggle">
          <input type="text" value="1" name="quantity" class=".input-group-text .input-group">
          <button type="submit" class="btn btn-buy products-view-buy">
            <i class="fa fa-shopping-basket"></i>
          </button>
        </div>
      </form>

      <div class="mt-4">
        <div class="btn btn-primary btn-lg btn-flat">
          <i class="fas fa-cart-plus fa-lg mr-2"></i>
          Остаток на складе {{ @prod.quantity }}
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <a class="nav-item nav-link" id="product-rating-tab" data-toggle="tab" href="#product-rating" role="tab"
        aria-controls="product-rating" aria-selected="false">Отзывы</a>
    </div>
  </div>
  </repeat>
</div>