<!-- основной контент -->
</div>
</div>
<script src="/app/js/jquery-3.5.1.js"></script>
<script src="/app/js/main.js"></script>
</main>
<div class="site-footer-wrap">
  <footer class="site-footer cs-bg-12">
    <div class="site-footer-top-level">
      <div class="container container-fluid site-footer-top-level-wrap site-footer-top-level-inner">
        <div class="row">
          <div class="col-xs-3 footer-menu">
            <div class="footer-menu-head">
              О нас
            </div>
            <ul class="footer-menu-list">
              <li class="footer-menu-item">
                <a class="footer-menu-link cs-l-2" href="/about">
                  <span class="footer-menu-text">О магазине</span>
                </a>
              </li>
              <li class="footer-menu-item">
                <a class="footer-menu-link cs-l-2" href="#">
                  <span class="footer-menu-text">Новости магазина</span>
                </a>
              </li>
              <li class="footer-menu-item">
                <a class="footer-menu-link cs-l-2" href="#">
                  <span class="footer-menu-text">Контактная информация</span>
                </a>
              </li>
              <li class="footer-menu-item">
                <a class="footer-menu-link cs-l-2" href="#">
                  <span class="footer-menu-text">Адрес магазина</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-xs-3 footer-menu">
            <div class="footer-menu-head">
              Помощь
            </div>
            <ul class="footer-menu-list">
              <li class="footer-menu-item">
                <a class="footer-menu-link cs-l-2" href="pages/contacts.html">
                  <span class="footer-menu-text">Как сделать заказ на сайте</span>
                </a>
              </li>
              <li class="footer-menu-item">
                <a class="footer-menu-link cs-l-2" href="#">
                  <span class="footer-menu-text">Обратная связь</span>
                </a>
              </li>
              <li class="footer-menu-item">
                <a class="footer-menu-link cs-l-2" href="/payment">
                  <span class="footer-menu-text">Оплата</span>
                </a>
              </li>
              <li class="footer-menu-item">
                <a class="footer-menu-link cs-l-2" href="/shipping">
                  <span class="footer-menu-text">Доставка</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-xs-3">
            <div class="static-block">
              <div class="footer-column footer-column-last">
                <p class="footer-column-title">Есть вопросы? Звоните!</p>
                <div class="footer-phone"><a class="footer-phone-number" href="tel:8 951 000 00 00">8 951 000 00 00</a>
                  <p class="footer-phone-text">Для звонков по Уралу</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
</div>
</body>
</html>