<div class="row">
    <div class="col-xs col-p-v root-staticPage-custom">
        <h1 class="staticpage-title page-title">Оплата</h1>
        <div class="breads cs-br-1" itemscope itemtype="../../external.html?link=http://schema.org/BreadcrumbList">
            <div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"
                class="breads-item icon-right-open-after cs-t-3">
                <a itemprop="item" href="/" class="breads-item-link cs-l-3"><span
                        itemprop="name">Главная</span></a>—
            </div>
            <div class="breads-item"><span class="breads-item-current cs-t-1">Оплата</span></div>
        </div>
        <div class="staticpage-content">
            <table class="Oplata">
                <tbody>
                    <tr>
                        <td style="width: 60px; vertical-align: top; text-align: center;">
                            <img alt="Наличные при получении" src="/app/view/images/nalich.jpg" /></td>
                        <td>
                            <strong>Наличные при получении</strong> (вы делаете заказ, оставляете контактную информацию,
                            указываете в пункте Оплата &ndash; &laquo;Наличными&raquo;, при этом варианте оплата
                            осуществляется курьеру при привозе заказа)<br />
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width: 60px; vertical-align: top; text-align: center;">
                            <img alt="Безналичный расчет" src="/app/view/images/beznal.jpg" /></td>
                        <td>
                            <strong>Безналичный расчет (по-счету)</strong>&ndash; такой расчет более всего подходит для
                            организаций. Вы делаете заказ, распечатываете счет на оплату, оплачиваете его и
                            созваниваетесь с нами для уточнения даты получения заказа.<br />
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width: 60px; vertical-align: top; text-align: center;">
                            <img alt="Оплата по квитанции Сбербанка" src="/app/view/images/sber.jpg" /></td>
                        <td>
                            <strong>Оплата по квитанции Сбербанка</strong> &ndash; для оплаты Вам необходимо распечатать
                            и оплатить квитанцию Сбербанка РФ.<br />
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width: 60px; vertical-align: top; text-align: center;">
                            <img alt="Оплата по Вашей кредитной карте" src="/app/view/images/cart.jpg" /></td>
                        <td>
                            <strong>Оплата по Вашей кредитной карте</strong> &ndash; Вы можете оплатить заказ в
                            интернет-магазине, не вставая с места, для этого Вам необходимо выбрать соответствующий
                            вариант оплаты.<br />
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            &nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width: 60px; vertical-align: top; text-align: center;">
                            <img alt="Оплата с помощью электронных денег" src="/app/view/images/emoney.jpg" /></td>
                        <td>
                            <strong>Оплата с помощью электронных денег (Яндекс.Деньги, WebMoney)</strong> &ndash; Наш
                            интернет-магазин поддерживает оплату электронными деньгами.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
