<div class="row">
    <div class="col-xs col-p-v root-staticPage-custom">
        <h1 class="staticpage-title page-title">Доставка</h1>
        <div class="breads cs-br-1" itemscope itemtype="../../external.html?link=http://schema.org/BreadcrumbList">
            <div itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breads-item icon-right-open-after cs-t-3">
                <a itemprop="item" href="/" class="breads-item-link cs-l-3"><span itemprop="name">Главная</span></a>—
            </div>
            <div class="breads-item"><span class="breads-item-current cs-t-1">Доставка</span></div>
        </div>
        <div class="staticpage-content">
            Получить заказ Вы сможете:
            <ul>
                <li><strong>Курьером</strong> (доставка курьером осуществляется на следующий день после заказа с 12-00 до 19-00, пожалуйста указывайте удобное время доставки).
                    <ul class="UlNoType">
                        <li>Стоимость доставки определяется от суммы заказа:</li>
                        <li>Заказ до 500р. стоимость доставки 400р.</li>
                        <li>Заказ от 500р до 2000р. стоимость доставки 200р.</li>
                        <li>Заказ свыше 2000р. - доставки бесплатно.</li>
                    </ul>
                </li>
                <li class="UlPadTop10px"><strong>Почта России</strong>
                    <ul class="UlNoType">
                        <li>Вы сможете оформить заказ и мы доставим его Почтой России</li>
                    </ul>
                </li>
                <li class="UlPadTop10px"><strong>Само-вывоз</strong>
                    <ul class="UlNoType">
                        <li>Вы всегда сможете заехать за заказом сами в рабочие часы нашего офиса. Схема проезда и контакты смотри <a href="../../external.html?link=http://demo-premium.advantshop.ru/AuxView.aspx?ID=21">тут</a>.</li>
                    </ul>
                </li>
            </ul>
            <p>Вы всегда сможете обсудить способы и цены на доставку с нашими менеджерами.</p>
        </div>

    </div>
</div>
